body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

#wrapper {
    display: flex;
    border: 1px solid rgb(255, 255, 255);
}

#App-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vh;
}

.logo {
    width: 5vw;
    height: auto;
    margin-right: 1vw;
}

h1 {
    font-size: 4vw;
    color: #26BD50;
}

h2 {
    font-size: 2vw !important;
}

.App {
    justify-content: center;
    color: #26BD50;
    margin-top: 1vh;
    width: 20vw
}

label, select, button {
    font-size: 1.5vw; /* Font size relative to viewport width */
    margin: 1vh 0; /* Margin relative to viewport height */
    justify-content: center;
}

button {
    padding: 1vh 2vw; /* Padding relative to viewport dimensions */
}

.small {
    font-size: 0.75rem;
}

/* Set the size of the div element that contains the map */
#map {
    min-height: 100vh;
    width: 80vw; /* The width is the width of the web page */
}

