<head>
    <title>{{ SafeWalk }}</title>
    <meta charset=”utf-8"> 
    <meta name=”viewport” content=”width=device-width, initial-scale=1">
    
    <!-- Link to css file and bootstrap library -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for ('static', filename='map.js')}}"></script>
    <!-- <script src="{{ url_for ('static', filename='route.js')}}"></script> -->
    
</head>

<body>

    <div id="wrapper">

    <div class="grid gap-3  row-gap-3 mx-5 App">

            <div  class="text-center mb-4" id = "App-logo">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo" alt="logo" />
            <h1>SafeWalk</h1>
            </div>

            <!-- Interactive Crime Map with the crimetype options -->
            <div class="mb-3" id="CrimeMap" >
            <h2>Explore the Crime Map</h2>
            <label for="CrimeType" class="form-label">Choose Crime Type:</label>
            <select class="form-select" id="CrimeType" name="CrimeType">
                <option value="All">All</option>
                <option value="Anti-social behaviour">Anti-social behaviour</option>
                <option value="Possession of weapons">Possession of weapons</option>
                <option value="Public order">Public order</option>
                <option value="Robbery">Robbery</option>
                <option value="Theft from the person">Theft</option>
                <option value="Vehicle crime">Vehicle crime</option>
                <option value="Violence and sexual offences">Violence and sexual offences</option>
                <option value="Drugs">Drugs</option>
            </select>
            <button type="button" class="btn btn-light" onclick="initMap()">Update Map</button>
            </div>

            <!-- Route recommendation -->
            <h2>Get a Safe Route</h2>
            <div class="mb-3" id="SafeRoute">
            <label for="start" class="form-label">Start:</label>
            <input type="text" class="form-control" id="start" name="start" placeholder="Enter your start location">
            </div>
            
            <div class="mb-3">
            <label for="end" class="form-label">End:</label>
            <input type="text" id="end" class="form-control" name="end" placeholder="Enter your end location">
            </div>

            <!-- Dropdown to select which crime to avoid-->
            <label for="crimeToAvoid">Choose Crime Type to Avoid:</label>
            <select class="form-select" id="crimeToAvoid" name="crimeToAvoid" >
                <option value="Anti-social behaviour">Anti-social behaviour</option>
                <option value="Possession of weapons">Possession of weapons</option>
                <option value="Public order">Public order</option>
                <option value="Robbery">Robbery</option>
                <option value="Theft from the person">Theft</option>
                <option value="Vehicle crime">Vehicle crime</option>
                <option value="Violence and sexual offences">Violence and sexual offences</option>
                <option value="Drugs">Drugs</option>
            </select>

            <!-- Button to calculate the safest route-->
            <button onclick="calculateSafeRoute()" type="button" class="btn btn-success" id="getRouteButton">Get Route</button>

    </div>

    <!-- Map div -->
    <div id="map"></div>
    </div>
  
    

 <!-- Google Maps Javascript API and MarkerClusterer library -->
 <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyBvVLjWmCja331H8SuIZ4UlJdZytuYkC6Y", v: "weekly"});</script>
  <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
</body>

</html>
